﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Wellcome to the ChatRoom!</h1>
        @Html.ActionLink("Let's Chat","Chat", "Home", routeValues: null, htmlAttributes: new { Class = "btn btn-primary btn-lg" })
    </div>
